#!/bin/sh
#
# Cloud Hook: db-copy
#
# The db-copy hook is run whenever you use the Workflow page to copy a
# database from one environment to another. See ../README.markdown for
# details.
#
# Usage: db-copy site target-env db-name source-env

site="$1"
target_env="$2"
db_name="$3"
source_env="$4"

echo "$site.$target_env: Received copy of database $db_name from $source_env."
