#!/bin/sh
#
# Cloud Hook: post-site-instance-duplicate
#
# The post-site-instance-duplicate hook is run after a site instance has been
# duplicated to create a new environment. This allows you to perform
# post-duplication configuration, data scrubbing, or environment-specific setup.
#
# Usage: post-site-instance-duplicate app-name stage source-site-name

app_name="$1"
stage="$2"
source_site_name="$3"

echo "$app_name.$stage: Site instance duplicated from $source_site_name."
