#!/bin/sh
#
# Cloud Hook: post-site-code-deploy
#
# The post-site-code-deploy hook is run after code has been deployed to a
# specific site via the Acquia Cloud UI or API. This is a site-level hook
# that allows you to perform post-deployment tasks, such as disabling
# maintenance mode or running database updates. See ../README.md for details.
#
# Usage: post-site-code-deploy site target-env site-name [extra-args...]
#
# Arguments:
#   $1: site (application name)
#   $2: target-env (environment/stage name)
#   $3: site-name (the specific site being deployed)
#   $4+: extra-args (source-branch, deployed-tag, repo-url, repo-type, etc.)

site="$1"
target_env="$2"
site_name="$3"
# Extra args start at position 4
source_branch="$4"
deployed_tag="$5"
repo_url="$6"
repo_type="$7"

echo "$site.$target_env: Completed deployment of $deployed_tag to site $site_name."
