#!/bin/sh
#
# Cloud Hook: post-site-wipe
#
# The post-site-wipe hook is run after a site's database and files have been
# wiped from an environment. This allows you to perform cleanup, notifications,
# or initialization of a fresh environment.
#
# Usage: post-site-wipe app-name stage

app_name="$1"
stage="$2"

echo "$app_name.$stage: Site wipe completed."
