#!/bin/sh
#
# Cloud Hook: pre-site-wipe
#
# The pre-site-wipe hook is run before a site's database and files are wiped
# from an environment. This allows you to perform backups or other preparatory
# actions before the site data is removed.
#
# Usage: pre-site-wipe site target-env

site="$1"
target_env="$2"

echo "$site.$target_env: Preparing for site wipe."
