#!/bin/sh
#
# Cloud Hook: pre-site-code-deploy
#
# The pre-site-code-deploy hook is run before code is deployed to a specific
# site via the Acquia Cloud UI or API. This is a site-level hook that allows
# you to prepare a site for deployment, such as enabling maintenance mode.
# See ../README.md for details.
#
# Usage: pre-site-code-deploy site target-env source-branch deployed-tag repo-url
#                             repo-type site-name extra-args

site="$1"
target_env="$2"
source_branch="$3"
deployed_tag="$4"
repo_url="$5"
repo_type="$6"
site_name="$7"
extra_args="$8"

echo "$site.$target_env: Preparing to deploy $deployed_tag to site $site_name."
